
.login-container {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-image: url('/src/pages/Login/cover-login.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    position: relative;
    filter: brightness(0.6);
    
    
}
.homepage {
    cursor: pointer;
    text-decoration: none;
    z-index: 10; 
}

form{
    position: absolute;
    right: 0;
    top:0;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 20px ;   
}
.form-container p{
    font-size: 25px;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    padding: 100px;
}
.blurred{
    position: absolute;
    height: 100%;
    width: 30%;
    top:0px;
    right: 0px;
    backdrop-filter: blur(30px);
    border-radius: 30px 0px 0px 30px;
}
.other{
    width:30%;
    height: 100%;
    color: yellow;
}

input{
    line-height: 1.375rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 32px;
    background-color: #343445;
    border-style: none;
    color:white;
    margin-bottom: 60px;
}
label{
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 20px;
}
form >div{
    display: flex;
    flex-direction: column;
    width: 70%;
}
form button, .login-button{
    line-height: 1.375rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 32px;
    width: 70%;
    margin-top: 60px;
    background: linear-gradient(to right, #51F7F2, #D23CF8);
    border-style: none;
    color: white;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
form button:hover, .login-button:hover{
    box-shadow: 0px 1px 20px white;
}

.homepage{
    position: absolute;
    right: 17%;
    bottom: 13%;
}
.new-button {
    position: absolute;
    right: 5%;
    bottom: 20%;
    line-height: 1.375rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 32px;
    width: 20%;
    background: linear-gradient(to right, #51F7F2, #D23CF8);
    border-style: none;
    color: white;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    text-align: center;
    z-index: 10;
}

.new-button:hover {
    box-shadow: 0px 1px 20px white;
}
