.register-form-container{
    display: flex;

    align-items: center;
    position: absolute;
    top: 0;
    right: 50%;
    height: 100%;
    width: 30%;
    padding: 100px;
    transform: translateX(50%);
}
.register-form-container p{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    margin-top: 30px;
}
.register-blurred{
    position: absolute;
    height: 100%;
    width: 30%;
    top:0px;
    right: 50%;
    transform: translateX(50%);
    backdrop-filter: blur(30px);
    border-radius: 30px 0px 0px 30px;
}
.register-form-container button{
    margin-top: 10px;
}

.login-button{
    z-index: 10;
    position: absolute;
    bottom: 15%;
    display: flex;
    justify-content: center;
    width: 65%;
}
.user-error{
    color: rgb(209, 37, 37);
    font-weight: bold;
    font-size: 20px;
}
form input{
    margin-bottom: 30px;
}