.favourites-container{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding: 5% 10%;
}

.favourite-movie{
    display: flex;
    background-color: rgba(49, 55, 98, 0.494);
    border-radius: 20px;
    width: 48%;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.favourite-movie img{
    width:20%;
    border-radius: 20px;
}
.favourite-movie span{
    position: absolute;
    right: 5%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fav-movie-info{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap:20px;
    margin-left: 30px;
}
.fav-movie-info :first-child{
    font-weight: bold;
    font-size: 30px;
}
.fav-movie-info p{
    font-size: 20px;
}
.empty{
    font-size: 50px;
    justify-self: center;
    align-items: center;
}