.movie-box{
    color: white;
}
div{
    color: white;
}
.movie-container{
    padding: 20px 42px 0px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    gap:28px;
}
.movie-box {
    position: relative;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.movie-box:hover{
    scale: 1.03;
}
.movie-box >img{
    width:100%;
    height: 100%;
    border-radius: 20px;
}
.movie-box .favourite{
    position: absolute;
    right: 5%;
    top:5%;
    background-color: #21219aca;
}
.movie-info{
    position: absolute;
    background-color: #595997a9;
    height: 30%;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0px 20px;
    font-size: 12px;
    justify-content: center;
    border-radius: 0px 0px 20px 20px;
    
}
.movie-info h2{
    font-size: 20px;
    width:70%;
    margin-left: 10px;
    
}
.load{
    background-color: #42429e;
    border-radius: 50%;
    display: flex;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    

}
.load-container{
    background-color: #595997a9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}