footer{
    position: absolute;
    bottom: 0;
    width:100%;  
}
footer div{
    width:100%;
    display: flex;
    padding: 2% 10% 2% 10%;
    justify-content: space-between;
    align-items: center;
    border-top-style: solid;
    border-color: #8202C7;
    border-width: 1px;
    position: absolute;
    bottom: 0;
}