:root{
  --background-color : #010116;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
li, a{
  text-decoration: none!important;
}
li{
  list-style-type: none;
}
body{
  background-color: var(--background-color);

}

.favourite{
  border-radius: 50%;
  border-style: solid;
  padding: 10px;
  font-size: 35px;
  border-width: 1px;
  cursor: pointer;

}
.in-favourite{
  background: linear-gradient(to right, #41c2be, #D23CF8);
}

.favourite:hover{

  background: linear-gradient(to right, #41c2be, #D23CF8);
}

