.single-movie-container {
    overflow-x: hidden;
    
}

.backdrop-container {
    position: relative;
}

.backdrop-container img {
    width: 100%;
    max-height: 100vh;
    filter: brightness(0.2) blur(1px);

}

.movie-details {
    display: flex;
    align-items: end;
    gap:40px;
    position: absolute;
    padding: 0px 8%;
    width: 100%;
    top:42%;
    
}
.movie-details img{
    width: 20%;
    border-radius: 20px;
}

.movie-details img:hover{
    filter: brightness(0.5);
    cursor: pointer;
}


.single-movie-info{
    padding-bottom: 30px;
}
.single-movie-info h2 span{
    font-size: 25px;
}
.single-movie-info h2{
    font-size: 40px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 40px;
}
.single-movie-info p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.overview{
    max-width: 60%;
    font-size: 25px;
}
.single-movie-info .favourite{
    position: absolute;
    top:5%;
    
}
.play {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
    display: none;
    color: #fff;
    cursor: pointer;
    align-items: center; 
    justify-content: center;
    font-size: 100px;
    color:#8202C7;
}

.movie-details img:hover + .play, .play:hover {
    display: flex;
}

.cast{
    display: flex;
    padding: 2% 5%;
    width: 100%;
    height: 20%;
    align-items: center;
    gap:10px;

}
.actor{
    position: relative;
    border-radius: 20px;
    width: 13%;
    height: 100%;
    
}
.actor div{
    position: absolute;
    padding: 5%;
    bottom: 0;
    font-size: 17px;
    background-color: #010116af;
    width: 100%;
    height:30%;
    color: #b0b0bb;
    border-radius: 20px;
}
.actor:hover{
    filter: brightness(0.5);
}
.actor div :first-child{
    font-size: 20px;
    font-weight: bold;
    color: #d2d2f1;
}
.actor img{
    width:100%;
    height: 100%;
    border-radius: 20px;
}