.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;

}

.slider-container span {
    background-color: rgba(0, 0, 0, 0.615);
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
}

.slider-container span.backward {
    left:10%;
}

.slider-container span.forward {
    right: 10%;
}

.slider-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #210a267c;
    border-radius: 50px;
}

.single-slider-movie {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-image {
    width: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(0.5);
}

.slider-movie-info {
    position: absolute;
    bottom: 5%;
    background-color: rgba(32, 5, 41, 0.709);
    left: 20%;
    color: white;
    padding: 10px;
    border-radius: 50px;
    padding: 30px 50px ;
    min-width: 20%;
}
.slider-movie-info h2{
    font-size: 40px;
}
.slider-movie-info p{
    font-size: 30px;
}

.slider-movie-info button{
    line-height: 1.375rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 32px;
    width: 70%;
    margin-top: 60px;
    background: linear-gradient(to right, #51F7F2, #D23CF8);
    border-style: none;
    color: white;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.slider-movie-info button:hover{
    box-shadow: 0px 1px 20px white;
}